:root {
    --boo-lighter: #ffffff;
    --boo-darker: #151515;
    --boo-gray-800: #232323;
    --boo-gray-700: #454545;
    --boo-gray-600: #5B5B5B;
    --boo-gray-500: #8d8d8d;
    --boo-gray-400: #C9C9C9;
    --boo-gray-300: #D9D9D9;
    --boo-primary: #9667AA;
    --boo-secondary-dark: #F2C94C;
    --boo-secondary: #ECE7BE;
    --boo-secondary-light: #F7F6F2;
}

body {
    font-family: "Poppins", sans-serif;
    color: var(--boo-darker);
}

.nav_link {
    color: var(--boo-gray-700);
    font-weight: 500;
    letter-spacing: .5px;
    font-size: .9rem;
    position: relative;
    display: flex;
    justify-content: center;

    &:hover {
        color: var(--boo-darker);
    }

    &::after {
        content: '';
        top: 2rem;
        position: absolute;
        width: 4px;
        aspect-ratio: 1;
        border-radius: 50%;
        background-color: transparent;
        transition: background-color .2s ease;
    }

    &:hover::after {
        background-color: var(--boo-gray-600);
    }
}